OPENAI_API_KEY= "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"
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_MAPS_KEY=
EVENT_API_KEY=
VENUE_API_URL=
